<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ToolFortress.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ToolFortress.Properties.Settings>
            <setting name="RCON_IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="RCON_PASSWORD" serializeAs="String">
                <value>toolfortress</value>
            </setting>
            <setting name="RCON_PORT" serializeAs="String">
                <value>2541</value>
            </setting>
            <setting name="TF2_FOLDER" serializeAs="String">
                <value />
            </setting>
            <setting name="TF2_STEAMID3" serializeAs="String">
                <value />
            </setting>
            <setting name="F_CONSOLE_MIRROR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="F_THEME_ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FB_USERNAME" serializeAs="String">
                <value />
            </setting>
        </ToolFortress.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>